@font-face {
    font-family: Yekan;
    src: url('/assets/fontYekan/yekan-font/Yekan.eot');
    src: url('/assets/fontYekan/yekan-font/yekan-regular.eot') format('Yekan-opentype'),
         url('/assets/fontYekan/yekan-font/Yekan.woff') format('woff'),
         url('/assets/fontYekan/yekan-font/Yekan.ttf') format('truetype');
         
  }
@font-face {
    font-family: Tanha;
    src: url('/assets/fontYekan/tanha-font-v0.9/Tanha.eot');
    src: url('/assets/fontYekan/tanha-font-v0.9/Tanha.eot') format('Tanha-opentype'),
         url('/assets/fontYekan/tanha-font-v0.9/Tanha.woff') format('woff'),
         url('/assets/fontYekan/tanha-font-v0.9/Tanha.ttf') format('truetype');
  }


main{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Yekan;
}

section {
    margin-bottom: 50px;
    display: flex;
    margin-right: 10px;
}

section div {
    width: 250px;
    height: 250px;
    background-color: aqua;
    text-align: center;
    overflow: hidden !important;
}

section div>img {
    margin-left: 10px;
    transition: 2000ms;
    cursor: pointer;
}

section div:first-child img {
    width: 80%;
}

section div:last-child img {
    width: 90%;
}

section div:nth-child(2) img {
    width: 100%;
}

section div:nth-of-type(3) img {
    width: 140%;
}

section div img:hover {
    width: 120%;
}

section ~ article{
    margin-top: 10px;
    width: 80%;
    border-top: 5px black ridge;
    padding: 10px;
    box-shadow: 0 0 10px green;
}
article p {
    text-align: justify;
}
article h5 {
    text-align: justify;
    direction: rtl;
    font-style: italic;
    font-weight: 900;
    font-display: auto; /* swap , fallback , ...نمایش قبل از لود صفحه*/
}
article p span{
    font-size: 20px;
    font-family:  sans-serif;
    font-stretch: semi-expanded;
    color: brown;
    text-transform : uppercase ;
}

p::first-line {
    font-weight: bold;
    text-align: justify;
}

.background-image {
    width: 100px;
    height: 100px;
    background-image: url('/assets/images/wallpaper\ \(2\).jpg');
    background-size: cover;
    background-position: center;
    border-radius: 100px;
}
